App/build/
App/out/

App/local.properties
App/gradle.properties
.idea/
*.iml

App/gradle
App/.gradle/

App/.apk
App/.aab

App/.keystore
App/.jks

App/.DS_Store
App/Thumbs.db

Backend/app/__pycache__/
